/build
/.cache
/tests/test.o
/tests/test.s
/tests/test
/tests/test.exe

/tests/basic/*.o
/tests/basic/*.s
/tests/basic/Output

/tests/complex/*.o
/tests/complex/*.s
/tests/complex/Output

/tests/.lit_test_times.txt

/.idea
/build_sysv
tests/test copy.c
